- const parseDate = (dateStr, monthNames, d = new Date(dateStr)) => ` ${monthNames[d.getMonth()]} ${d.getFullYear()}`
// - const parseDate = (dateStr, monthNames, d = new Date(dateStr)) => dateStr

doctype html
html(lang= lang)
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="styles/main.css", rel="stylesheet")

  body
    .main
      .header

        img#logo(src='images/'+logo alt=name)

        h1= name

      .block-group
        .block.work

          h2= jobs

          each work in labors.filter(job => job.tags.includes('job'))

            if work.company
              h3.company= work.company

            if work.labor
              p.job= work.labor
                span.date= work.date.map(dateStr => parseDate(dateStr, monthNames))

            if work.desc
              p.desc= work.desc
            
            if work.tasks
              ul
                each task in work.tasks
                  li= task
              

        .block.photo

          img.pic(src= 'images/'+photo)

        .block.contact
            ul
              li
                a(href='mailto:' + contact.mail)
                  img.icon(src="images/mail.svg")
                  | #{contact.mail}
              li
                img.icon(src="images/phone.svg")
                | #{contact.phone}
              li
                img.icon(src="images/location.svg")
                | #{contact.location}
              li
                a(href='https://www.' + contact.behance)
                  img.icon(src="images/behance.svg")
                  | #{contact.behance}
              li
                a(href='https://www.' + contact.github)
                  img.icon(src="images/github.svg")
                  | #{contact.github}

        .block.contracts
          h2= contracts
          
          each contract in labors.filter(labor => labor.tags.includes('contract'))
          
            if contract.company
              h3.client= contract.company

            if contract.labor
              p.contract= contract.labor

            if contract.desc
              each paragrap in contract.desc.split('\n\n')
                p #{paragrap}

            if contract.tasks
              ul
                each task in contract.tasks
                  li= task

            if contract.date
              p.date= contract.date.map(dateStr => parseDate(dateStr, monthNames))

        .block.other
          h2= recognitions.title

          each recognition in recognitions.content
            p= recognition.desc
            p.date= recognition.date.map(dateStr => parseDate(dateStr, monthNames))

          h2= education.title
          p= education.content

          h2= languages.title
          ul
            each lang in languages.content
              li= lang

          h2= interests.title
          p= interests.content
